@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: content-box;
    font-family: cursive;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

/*MENU */
.contenedor-header{
    background-color: #fff;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
/*REVISAR COMO PONER EL WAIKHANA A LA IZQUIERDA*/
.contenedor-header header .logo a{ 
    font-family: 'Righteous';
    font-size: 36px;
    margin-right: 300px;
    text-align: left;
    color: rgb(60, 151, 32);
    text-decoration: none;
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a{
    text-align: none;
    color: rgb(60, 151, 32);
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: red;
}

.contenedor-header nav ul li a:hover{
    color: rgb(190, 44, 44);
}

/*INICIO*/

.inicio .contenido-banner img{
    margin-top: 40px;
    border: 10px solid rgb(60, 151, 32);
    display: block;
    width: 80;
    margin: auto;
    border-radius: 100%;
}
.inicio .contenedor-img{
    margin-top: 80px;
}